@font-face {
  font-family: "Inter Variable";
  src:
    local("Inter Variable"),
    url("/InterVariable.woff2") format("woff");
}

:root {
  --var-base: 4px;

  /* text */
  --t-s: calc(4 * var(--var-base));
  --t-m: calc(6 * var(--var-base));
  --t-l: calc(8 * var(--var-base));
  --t-xl: calc(12 * var(--var-base));
  --t-xxl: calc(16 * var(--var-base));
  --t-xxxl: calc(20 * var(--var-base));

  /* margin */
  --m2: calc(2 * var(--var-base));
  --m3: calc(3 * var(--var-base));
  --m4: calc(4 * var(--var-base));
  --m5: calc(5 * var(--var-base));
  --m6: calc(6 * var(--var-base));
  --m8: calc(8 * var(--var-base));
  --m10: calc(10 * var(--var-base));
  --m15: calc(15 * var(--var-base));
  --m16: calc(16 * var(--var-base));
  --m20: calc(20 * var(--var-base));
  --m30: calc(30 * var(--var-base));
  --m40: calc(40 * var(--var-base));
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #090922;
  font-family: "Inter Variable", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: var(--t-m);
  line-height: 1.2;
  font-weight: 400;
  text-wrap: balance;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  gap: var(--m2);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

button,
input {
  font-family: inherit;
}

p {
  font-size: var(--t-m);
  font-weight: 400;
  line-height: 135%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgba(215, 210, 250, 0.6);
  mix-blend-mode: plus-lighter;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(215, 210, 250, 0.15);
  transition: all 0.15s ease;
  &:hover {
    border-bottom: 1px solid rgba(215, 210, 250, 0.3);
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  text-align: center;
  font-size: var(--t-m);
  font-weight: 400;
  line-height: 135%;
  color: rgba(215, 210, 250, 0.24);
  display: flex;
  flex-direction: column;
  gap: var(--m6);

  max-width: 960px;
  margin: var(--m15) auto var(--m5);

  p {
    color: inherit;
  }

  li:not(:first-child):before {
    content: "·";
    padding-right: var(--m2);
    margin: 0;
  }
}

.menu {
  display: inline-flex;
  padding: var(--m2) var(--m2) var(--m2) var(--m4);
  position: fixed;
  z-index: 1234;
  top: var(--m4);
  align-items: center;
  border-radius: 100px;
  /* border: 2px solid rgba(255, 255, 255, 0.06); */
  background: radial-gradient(
    50% 100% at 50% 0.3%,
    rgba(40, 40, 135, 0.5) 0%,
    rgba(9, 9, 34, 0.75) 100%
  );
  box-shadow:
    0px 3px 10px -3px rgba(9, 9, 34, 0.4),
    0px 5px 20px -5px rgba(9, 9, 34, 0.4),
    0px 10px 40px -10px rgba(9, 9, 34, 0.4),
    0px 2px 0px 0px rgba(42, 42, 91, 0.75),
    0px 1px 0px 0px rgba(255, 255, 255, 0.15) inset,
    0px 0px 1px 0px rgba(255, 255, 255, 0.35) inset;
  backdrop-filter: blur(50px) saturate(150%);
}

.button,
button {
  display: inline-flex;
  font-size: var(--t-s);
  line-height: 1;
  padding: var(--m3) var(--m5);
  border-radius: 100px;
  border: none !important;
  background-color: transparent;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-family: inherit;

  transition: all 0.2s;

  &:hover {
    filter: brightness(125%);
  }

  &:active {
    background: rgba(255, 255, 255, 0.12);
  }

  &.size_m {
    font-size: var(--t-m);
    padding: var(--m4) var(--m8);
  }

  &.size_l {
    font-size: var(--t-l);
    padding: var(--m5) var(--m10);
  }

  &.size_xl {
    text-align: center;
    font-size: var(--t-xl);
    font-weight: 500;
    border-radius: 100px;
    padding: var(--m8) var(--m20);
    border-radius: 100px;
    background: radial-gradient(50% 100% at 50% 0.3%, #f3ff71 0%, #a4dd00 100%);
  }

  &.variant_primary {
    color: #021130;
    background: radial-gradient(50% 100% at 50% 0.3%, #f3ff71 0%, #a4dd00 100%);
    box-shadow:
      0px 0px 1px 0px rgba(255, 255, 255, 0.2) inset,
      0px 1px 1px 0px #ffffff80 inset,
      0px -1px 1px 0px rgba(255, 255, 255, 0.5) inset,
      0px 2px 0px 0px #82b400;
  }

  &.variant_primary.size_xl {
    box-shadow:
      0px 0px 2px 0px rgba(255, 255, 255, 0.2) inset,
      0px 2px 1px 0px rgba(255, 255, 255, 0.5) inset,
      0px -1px 1px 0px rgba(255, 255, 255, 0.5) inset,
      0px 4px 0px 0px #82b400,
      0px 8px 8px -4px rgba(115, 160, 0, 0.3),
      0px 30px 60px -30px rgba(115, 160, 0, 0.2);
    /* 0px 50px 100px -20px rgba(115, 160, 0, 0.2), */
  }

  &.variant_secondary {
    color: #bfe1d5;
    background: radial-gradient(50% 100% at 50% 0.3%, #05794f 0%, #063f32 100%);
    box-shadow:
      0px 0px 1px 0px rgba(255, 255, 255, 0.15) inset,
      0px 1px 1px 0px rgba(255, 255, 255, 0.3) inset,
      0px -1px 1px 0px rgba(255, 255, 255, 0.1) inset,
      0px 3px 0px 0px #001e14,
      0px 8px 12px -4px rgba(80, 185, 165, 0.3),
      0px 25px 100px -20px rgba(80, 185, 165, 0.3),
      0px 15px 60px -30px rgba(80, 185, 165, 0.4);
  }
}

h1 {
  font-size: var(--t-xxxl);
  font-weight: 700;
  line-height: 100%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: linear-gradient(180deg, #fff 0%, rgba(215, 210, 250, 0.8) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 0.1em;
}

h2 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: var(--t-xxxl);
  font-weight: 700;
  line-height: 100%;
  background: linear-gradient(180deg, #fff 0%, rgba(243, 194, 255, 0.7) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: var(--t-xl);
  font-weight: 600;
  line-height: 110%;
  background: linear-gradient(180deg, #fff 0%, rgba(215, 210, 250, 0.8) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: var(--t-l);
  font-weight: 600;
  line-height: 110%;
  background: linear-gradient(180deg, #fff 0%, rgba(215, 210, 250, 0.8) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link {
  color: #e0f30e;
  font-size: var(--t-m);
  font-weight: 400;
  line-height: 135%;
  border-bottom: 1px solid rgba(224, 243, 14, 0.2);
  &:hover {
    color: #f3ff70;
    border-bottom: 1px solid rgba(243, 255, 112, 0.4);
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;

  .card {
    gap: var(--m8);
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.08);
    flex: auto;
  }

  .card__label {
    color: #07f6ef;
    font-size: var(--t-m);
    font-weight: 400;
    border-radius: 1000px;
    background: rgba(7, 246, 239, 0.32);
    padding: var(--m2) var(--m3);
    display: inline-flex;
  }

  .card__title {
    background: linear-gradient(180deg, #fff 0%, rgba(215, 210, 250, 0.8) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--t-xl);
    font-weight: 700;
  }

  .card__description {
    color: rgba(215, 210, 250, 0.6);
    font-size: var(--t-m);
    font-weight: 500;
  }
}

.line {
  background-image: url(/hr.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 2px;
  width: 100%;
}

section {
  max-width: 1280px;
  margin: 0 auto;
  padding: var(--m30) var(--m5);

  &.section_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: var(--m10);
    max-width: 1080px;
    padding-top: var(--m40);
    padding-bottom: var(--m20);

    p {
      max-width: 816px;
      font-size: var(--t-xl);
      line-height: 125%;
    }

    h1 + p {
      margin: 0 0 var(--m4);
    }
  }

  &.section_main_bg {
    padding: 0;
    max-width: initial;
    position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 15%;
      top: 0;
      bottom: 0;
    }

    &:before {
      background: linear-gradient(
        90deg,
        #090922 0%,
        rgba(9, 9, 34, 0.49) 44.5%,
        rgba(9, 9, 34, 0) 100%
      );
      left: 0;
    }
    &:after {
      background: linear-gradient(
        -90deg,
        #090922 0%,
        rgba(9, 9, 34, 0.49) 44.5%,
        rgba(9, 9, 34, 0) 100%
      );
      right: 0;
    }
  }

  &.section_example_ekb {
    max-width: initial;
    max-height: 90vh;
    margin-top: -10vw;
    margin-bottom: 10vw;
    padding: 0;
    position: relative;
    z-index: 1;
  }

  &.section_banner {
    max-width: initial;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 13vw;
    font-weight: 700;
    line-height: 90%;
    background: linear-gradient(180deg, #fff 0%, rgba(243, 194, 255, 0.9) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    padding: 0 5vw 2vw;
  }

  &.section_visualisaitons {
    max-width: initial;
    padding: var(--m10) var(--m5) var(--m5);

    .cards {
      gap: var(--m4);

      display: grid;

      grid-template-areas:
        "visualization1 visualization1 visualization1 visualization1 visualization1 visualization1 visualization2 visualization2"
        "visualization3 visualization3 visualization4 visualization4 visualization4 visualization4 visualization5 visualization5"
        "visualization6 visualization6 visualization6 visualization6 visualization7 visualization7 visualization7 visualization7";

      .card {
        height: 100%;
      }

      .card:nth-child(1) {
        grid-area: visualization1;
      }
      .card:nth-child(2) {
        grid-area: visualization2;
      }
      .card:nth-child(3) {
        grid-area: visualization3;
      }
      .card:nth-child(4) {
        grid-area: visualization4;
      }
      .card:nth-child(5) {
        grid-area: visualization5;
      }
      .card:nth-child(6) {
        grid-area: visualization6;
      }
      .card:nth-child(7) {
        grid-area: visualization7;
      }
    }
  }

  &.section_users {
    display: flex;
    flex-direction: column;
    gap: var(--m20);

    h2 {
      margin-left: var(--m16);
    }

    .cards {
      gap: var(--m8);
      /* display: grid;
      grid-template-columns: 1fr 1fr 1fr; */
    }

    .card {
      display: flex;
      flex-direction: column;
      padding: var(--m8);
      gap: var(--m8);
      width: 20%;
    }

    .card__image {
      margin-top: calc(-1 * var(--m20));
    }

    .card__title {
      font-size: var(--t-l);
      font-weight: 700;
      background: linear-gradient(
        180deg,
        #fff 0%,
        rgba(215, 210, 250, 0.8) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &.section_usecases,
  &.section_features,
  &.section_soon {
    display: flex;
    flex-direction: column;
    gap: var(--m20);

    h2 {
      margin-left: var(--m16);
    }

    .cards {
      gap: var(--m8);
    }

    .card {
      padding: var(--m16);
      gap: var(--m6);
      display: flex;
      flex-direction: column;
    }
  }

  &.section_usecases {
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "usecase1 usecase1"
        "usecase2 usecase3"
        "usecase4 usecase5";

      .card:nth-child(1) {
        grid-area: usecase1;
        display: grid;
        gap: var(--m2);
        grid-template-columns: minmax(0, 2fr) minmax(0, 5fr);
        grid-template-areas: "card-text card-image";
        padding: var(--m8) 0 0 var(--m16);
        .card__text {
          margin-top: var(--m8);
        }
      }
      .card:nth-child(2) {
        grid-area: usecase2;
        gap: 0;
        padding: var(--m16) 0 0;
        .card__text {
          margin: 0 var(--m16);
        }
      }
      .card:nth-child(3) {
        grid-area: usecase3;
        gap: 0;
        padding: var(--m16) 0 0;
        justify-content: space-between;
        .card__text {
          margin: 0 var(--m16);
        }
      }
      .card:nth-child(4) {
        grid-area: usecase4;
        gap: var(--m10);
        padding: var(--m16) var(--m16) 0;
      }
      .card:nth-child(5) {
        grid-area: usecase5;
        gap: var(--m10);
        padding: var(--m16) var(--m16) 0;
      }

      .card {
        overflow: hidden;
        justify-content: space-between;
        .card__text {
          grid-area: card-text;
          display: flex;
          flex-direction: column;
          gap: var(--m4);
        }
        .card__title {
          grid-area: card-title;
        }
        .card__description {
          grid-area: card-description;
        }
        .card__image {
          grid-area: card-image;
        }
      }
    }
  }

  &.section_features {
    .cards {
      /* display: grid; */
      /* grid-template-columns: 1fr 1fr; */
      display: block;
      column-count: 2;
      column-gap: var(--m8);
    }
    .card {
      display: flex;
      flex-direction: column;
      gap: var(--m10);
      padding: var(--m16) 0 0;
      overflow: hidden;
      &:not(:last-child) {
        margin-bottom: var(--m8);
      }
      .card__text {
        display: flex;
        flex-direction: column;
        gap: var(--m4);
        margin: 0 var(--m16);
      }
      .card__image {
        box-sizing: border-box;
        padding: 0 var(--m10);
      }
    }
    .card:nth-child(3) {
      .card__image {
        padding: 0 var(--m10) var(--m10);
      }
    }
  }

  &.section_soon {
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: var(--m4);
      row-gap: var(--m4);
    }
    .card {
      display: flex;
      flex-direction: column;
      gap: var(--m8);
      padding: var(--m10) 0 0;
      overflow: hidden;
      justify-content: space-between;
      .card__text {
        display: flex;
        flex-direction: column;
        gap: var(--m3);
        margin: 0 var(--m10);
        .card__title {
          font-size: var(--t-l);
        }
        .card__description {
          font-size: var(--t-s);
          line-height: 1.35;
        }
      }
      .card__image {
        box-sizing: border-box;
        padding: 0;
      }
    }
  }

  &.section_projects {
    max-width: initial;
    position: relative;

    h2 {
      max-width: 1120px;
      margin: 0 auto;
    }

    .projects {
      display: flex;
      flex-direction: column;
      gap: var(--m30);
      margin-top: var(--m20);

      .project {
        display: flex;
        flex-direction: column;
        gap: var(--m4);

        .project__text {
          max-width: 1120px;
          display: flex;
          flex-direction: column;
          gap: var(--m15);
          margin: 0 auto;

          .project__info {
            display: grid;
            gap: var(--m8);
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
            grid-template-areas:
              "project-title project-description"
              "project-link project-description";
          }

          .project__link {
            grid-area: project-link;
            margin-top: auto;
          }

          .project__title {
            grid-area: project-title;
          }

          .project__description {
            grid-area: project-description;
            color: rgba(215, 210, 250, 0.6);
            font-size: var(--t-m);
            font-weight: 400;
            line-height: 135%;
          }
        }
      }
    }
  }

  &.section_price {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 960px;
    justify-content: space-between;

    .price__title {
      display: flex;
      flex-direction: column;
      gap: var(--m6);
      max-width: 450px;
    }

    .smile {
      color: #e0f30e;
      font-size: 160px;
      font-style: normal;
      font-weight: 100;
      line-height: 100%;
    }

    .smile__flower {
      color: #0042eb;
    }
  }

  &.section_start {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    gap: var(--m6);

    h2 {
      padding-bottom: var(--m2);
    }

    .actions {
      display: flex;
      gap: var(--m5);
      margin-top: var(--m15);
    }

    .action {
      border-radius: 100px;

      display: flex;
      width: 412px;
      padding: var(--m5) var(--m15);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: auto;

      &.action_email {
        background: radial-gradient(
          50% 100% at 50% 0.3%,
          #f3ff71 0%,
          #a4dd00 100%
        );
        box-shadow:
          0px 0px 2px 0px rgba(255, 255, 255, 0.2) inset,
          0px 2px 1px 0px rgba(255, 255, 255, 0.5) inset,
          0px -1px 1px 0px rgba(255, 255, 255, 0.5) inset,
          0px 4px 0px 0px #82b400,
          0px 8px 8px -4px rgba(115, 160, 0, 0.3),
          0px 50px 100px -20px rgba(115, 160, 0, 0.2),
          0px 30px 60px -30px rgba(115, 160, 0, 0.2);
        color: #021130;
      }

      &.action_tg {
        background: radial-gradient(
          50% 100% at 50% 0.3%,
          #3c7fff 0%,
          #0032e5 100%
        );
        box-shadow:
          0px 0px 2px 0px rgba(255, 255, 255, 0.2) inset,
          0px 2px 1px 0px rgba(255, 255, 255, 0.15) inset,
          0px -1px 1px 0px rgba(255, 255, 255, 0.15) inset,
          0px 4px 0px 0px #003cdc,
          0px 8px 8px -4px rgba(0, 50, 185, 0.5),
          0px 50px 100px -20px rgba(0, 50, 185, 0.2),
          0px 30px 60px -30px rgba(0, 50, 185, 0.5);
        color: #fff;
      }

      .action_title {
        text-align: center;
        font-size: var(--t-xl);
        font-weight: 600;
      }

      .action_description {
        text-align: center;
        font-size: var(--t-m);
        font-weight: 500;
        opacity: 0.5;
        margin-top: 2px;
      }
    }
  }

  &.section_share {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    gap: var(--m6);

    .share {
      display: grid;
      gap: var(--m10);
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "share-title share-img"
        "share-action share-img";

      .share__title {
        grid-area: share-title;
      }
      .share__action {
        grid-area: share-action;
        margin-top: auto;
      }
      .share__img {
        grid-area: share-img;
      }
    }
  }
}

@media (max-width: 800px) {
  :root {
    --var-base: 3px;
  }

  .menu {
    width: 90%;
    top: auto;
    bottom: var(--m4);
    padding: var(--m4) var(--m4) var(--m4) var(--m6);
    ul {
      width: 100%;
      justify-content: space-between;
      li:not(:first-child):not(:last-child) {
        display: none;
      }
    }
    .button {
      font-size: var(--t-m);
      padding: var(--m4) var(--m6);
    }
  }

  section {
    padding: var(--m20) var(--m5) var(--m10);
    .cards {
      .card {
        border-radius: 8px;
      }
    }

    h2 {
      margin-left: 0 !important;
    }

    &.section_usecases,
    &.section_features,
    &.section_soon {
      gap: var(--m10);
    }

    &.section_price {
      align-items: start;
    }
  }

  section.section_main {
    align-items: start;
    text-align: left;
    padding-top: var(--m10);
    gap: var(--m6);

    h1 {
      font-size: var(--t-xxl);
    }

    .button {
      display: block;
      width: 100%;
      padding: var(--m8) 0;
      text-align: center;
    }
  }

  section.section_main_bg {
    padding: 12vw 0;
    overflow-x: hidden;

    img {
      transform: scale(1.5);
    }
  }

  section.section_visualisaitons {
    .cards {
      gap: var(--m2);
    }
  }

  section.section_users {
    .cards {
      gap: var(--m4);
      .card {
        padding: var(--m6);
        h4 {
          font-size: 3vw;
        }
      }
    }
  }

  section.section_usecases {
    .cards {
      display: flex;

      .card:nth-child(1) {
        display: flex;
        flex-direction: column;
        padding: var(--m10) 0 0;
        .card__text {
          margin: 0 var(--m10);
        }
      }
      .card:nth-child(n + 2):nth-child(-n + 3) {
        padding: var(--m10) 0 0;
        .card__text {
          margin: 0 var(--m10);
        }
      }
      .card:nth-child(n + 4):nth-child(-n + 5) {
        padding: var(--m10) var(--m10) 0;
      }
    }
  }

  section.section_features {
    .cards {
      column-count: 1;

      .card {
        padding: var(--m10) 0 0;

        .card__text {
          margin: 0 var(--m10);
        }
      }
    }
  }

  section.section_soon {
    .cards {
      grid-template-columns: 1fr 1fr;

      .card {
        padding: var(--m6) 0 0;

        .card__text {
          gap: var(--m3);
          margin: 0 var(--m6);
        }
      }
    }
  }

  section.section_projects {
    overflow-x: hidden;

    .projects {
      gap: var(--m20);
      margin-top: var(--m15);

      .project {
        gap: var(--m8);

        .project__text .project__info {
          gap: var(--m6);
        }

        .project__image {
          transform: scale(1.1);
        }
      }
    }
  }

  section.section_price,
  .project__info,
  .actions {
    display: flex !important;
    flex-direction: column;
  }

  section.section_price {
    .smile {
      font-size: 30vw;
      margin: var(--m10) 0 var(--m20);
    }
  }

  section.section_start {
    padding-bottom: var(--m20);
    h2 {
      padding-bottom: var(--m6);
    }
    .actions {
      margin-top: var(--m5);
    }
    .action {
      width: auto;
      max-width: 100%;
    }
  }

  section.section_share {
    padding-bottom: var(--m20);
    .share {
      display: flex;
      flex-direction: column;
    }
    .share__title {
      padding-bottom: var(--m2);
    }
  }

  .line {
    width: calc(100% - (2 * var(--m5)));
    margin: 0 var(--m5);
  }

  .final_image {
    margin-bottom: var(--m40);
  }
}

@media (max-width: 500px) {
  :root {
    --var-base: 2.5px;
  }
}
